# Data directories (large files)
data/bronze/
data/silver/
data/gold/
data/checkpoints/

# Go
producer-go/producer
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Spark
spark-warehouse/
metastore_db/
derby.log
